<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5820.0">
	<Sites>
		<add SiteName="GPO" SiteId="bcbbc0b7-7d6b-4bf6-9ed8-5fd7506f9310" />
	</Sites>
</analyticsConfig>