<?xml version="1.0" encoding="utf-8"?>
<translationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5820.0">
	<connectors>
		<add librariesProviderName="sf_translations_lib_provider" exportLibraryId="26c2df9f-ab12-456f-bb8c-c7fcbbe81999" importLibraryId="b1729c47-659f-4b19-8414-79a6dd744cf9" name="Xliff" />
	</connectors>
</translationsConfig>