<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5820.0">
	<notifications newPostNotificationTemplateId="2b71c19d-55c5-6aba-bd99-ff00001960d6" newThreadNotificationTemplateId="2c71c19d-55c5-6aba-bd99-ff00001960d6" />
</forumsConfig>