<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5820.0">
	<images>
		<thumbnails>
			<thumbnails>
				<add title="Thumbnail: 200x200 px" MaxHeight="200" MaxWidth="200" Quality="Medium" method="ResizeFitToAreaArguments" default="False" name="thumb200" />
				<add title="Thumbnail: 160x160 px" MaxHeight="160" MaxWidth="160" Quality="Medium" method="ResizeFitToAreaArguments" default="False" name="thumb160" />
				<add title="Thumbnail: 80x80 px" MaxHeight="80" MaxWidth="80" Quality="Medium" method="ResizeFitToAreaArguments" default="False" name="thumb80" />
				<add title="Thumbnail: 36x36 px" MaxHeight="36" MaxWidth="36" Quality="Medium" method="ResizeFitToAreaArguments" default="False" name="thumb36" />
			</thumbnails>
		</thumbnails>
	</images>
	<contentViewControls>
		<contentViewControl definitionName="DocumentsBackend">
			<views>
				<config:lazy key="DocumentsBackendEdit" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendEdit.config" />
				<config:lazy key="DocumentsBackendBulkEdit" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendBulkEdit.config" />
				<config:lazy key="DocumentsBackendVersionPreview" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendVersionPreview.config" />
				<config:lazy key="DocumentsBackendPreview" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.DocumentsBackendPreview.config" />
				<config:lazy key="SingleDocumentUploadDetailsView" configFile="LibrariesConfig.contentViewControls.DocumentsBackend.views.SingleDocumentUploadDetailsView.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="BackendUserFileLibraryDocuments">
			<views>
				<config:lazy key="BackendUserFileDocumentsBackendEditView" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileDocumentsBackendEditView.config" />
				<config:lazy key="BackendUserFileDocumentsBackendBulkEditView" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileDocumentsBackendBulkEditView.config" />
				<config:lazy key="BackendUserFileDocumentsVersionPreviewViewView" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileDocumentsVersionPreviewViewView.config" />
				<config:lazy key="BackendUserFileLibraryDocumentsPreviewViewName" configFile="LibrariesConfig.contentViewControls.BackendUserFileLibraryDocuments.views.BackendUserFileLibraryDocumentsPreviewViewName.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
	<providers>
		<add description="A provider for the translations module that stores libraries data in database using OpenAccess ORM." type="Telerik.Sitefinity.Modules.Libraries.Data.OpenAccessLibrariesProvider, Telerik.Sitefinity" applicationName="sf_translations" providerGroup="System" enabled="True" name="sf_translations_lib_provider" />
	</providers>
</librariesConfig>